@media (min-width: 768px)
{
  body{
      margin: 0;
      padding: 0;
  }
  #cap {
      background-color: #356264;
      height: 100px;
      overflow: hidden;
  }
  .index {
      width: 15%;
      border: solid 1px white;
      text-align: center;
      float: left;
      color: white;
      height: 30px;
      padding: 5px 3px 0 3px;
      margin-left: 25px;
      border-radius: 5px;
      align-items: center;
  }
  h1 {
      text-align: center;
      color: white;
      margin: 0;
      padding: 0;
      margin-bottom: 10px;
  }
  #cos{
      float: left;
      background-color: #009CC0;
      width: 70%;
      margin-top: 0px;
  }
  .noticia{
      background-color: #C2D6E3;
      float: left;
      height: 230px;
      width: 45%;
      margin: 10px;
      padding: 5px;

  }
  #menu{
      float: left;
      background-color: #00E0D9;
      margin-top: 0px;
      width: 30%;
  }
  .opinio{
      float: left;
      background-color: #C2D6E3;
      height: 100px;
      width: 90%;
      padding: 5px;
      margin: 10px 10px 10px 10px;
  }
  #peu {
      float: left;
      height: 50px;
      background-color: #356264;
      width: 100%;
  }
}
